// Landing Page contents
extends layout

block css

block title
  title BrandUsed

- var urlId = window.location.href.split("/").pop();

block content
  h1 Listing page!
  h2 Details below:
  p Name: #{listing.name}
  p Designer: #{listing.designer}
  p Price: #{listing.price}
  p Sizing: #{listing.sizing}
  p Description: #{listing.description}
  p Item becomes avaialable on: #{listing.dateFrom}
  p Item stops being available on: #{listing.dateTo}
  form(action='/api/listing/' + urlId +'/purchase', method='post')#purchase
    input(type='submit', value='Purchase', form='purchase')
